.h1 {
  font-size: 30px;
  font-weight: bolder;
}

.id {
  font-size: 20px;
  font-weight: bolder;
}

.pw {
  font-size: 20px;
  font-weight: bolder;
}

.login {
  background-color: lightpink;
  width: 500px;
  margin: 200px auto auto auto;
  text-align: center;
}
