<router-outlet></router-outlet>
<p>board-detail works!</p>
<!--<p> 게시글 상세화면 페이지 </p>-->
<div class="table_detail">
  <table class="detail">
    <tr>
      <td class="detail_tr">글 번호</td>
      <td class="detail_tr">1번</td>
    </tr>
    <tr>
      <td class="detail_tr">제 목</td>
      <td class="detail_tr">제목입니다.</td>
    </tr>
    <tr>
      <td class="detail_tr">작성자</td>
      <td class="detail_tr">가우닝</td>
    </tr>
    <tr>
      <td class="detail_tr">작성일자</td>
      <td class="detail_tr">2021.12.30 금요일 13:20</td>
    </tr>
    <tr>
      <td class="detail_tr">내용</td>
      <td class="detail_tr">반갑습니다. 가우니입니다 :-) </td>
    </tr>
  </table>
<button type="button" (click)="movedlist()">목록으로 이동</button>
</div>
