<router-outlet></router-outlet>
<!--<p>board-modify works!</p>-->

<div class="modify">
  <h2>게시글 수정</h2>
  <table>
    <tr>
      <th class="th">제 목</th>
      <input class="input" type="text" placeholder="제목을 입력하세요.">
    </tr>
    <tr>
      <th class="th">이 름</th>
      <input class="input" type="text" placeholder="이름을 입력하세요.">
    </tr>
    <tr>
      <th class="th">비밀번호</th>
      <input class="input" type="password" placeholder="비밀번호를 입력하세요.">
    </tr>
    <tr>
      <th class="th_s">내 용</th>
      <input class="th_s" type="text" placeholder="내용을 입력해주세요.">
    </tr>
  </table>
  <button type="button">수정</button>
  &nbsp;<button type="button">취소</button>
</div>
