.tb {
  width: 100%;
  border-collapse: collapse;
}

.tc {
  width: 11px;
  border: 2px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: aquamarine;
  font-size: 20px;
}

.tt {
  width: 11px;
  border: 2px solid;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  text-align: center;
}

.box {
  font-size: 15px;
  font-weight: bolder;
  text-align: right;
}



